.sidenav-content {
    margin-top: 89px; /* hauteur du navbar */
    width: 517px;
  }
  .custom-nav-list {
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
  }
  .custom-nav-list a {
    color: #333;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 14px;

  }
  .custom-nav-list a:hover {
    color: #555;
  }
  .custom-nav-list span {
    font-size: 18px;
    margin-left: 26px;
  }
  .hr {
    max-width: 100%; /* ajustez cette valeur selon vos besoins */
    margin: 0 auto; /* centre le contenu horizontalement */
  }
  
  .center-image {
    display: block;
    margin: auto;
    max-width: 55%;
    height: auto;
  }
  