<nav class="navbar">
  <img src="/../../../assets/IM.CODING.jpg" class="im">
  <div class="navbar-content">
    <div class="navbar-title-wrapper">
      <span class="navbar-title">Bienvenue dans IM.CODING</span> 
      <br><br>
      <span class="navbar-title">Gestionnaire du centre de formation</span>
    </div>
  </div>
  <div class="navbar-button-wrapper">
 <button style=" height: 32px;" [ngStyle]="{'background-color': '#9b8c8c', 'color': '#000000', 'font-weight': 'bold', 'border': '1.5px solid #ad249b' }" mat-raised-button  (click)="Deconnecter()">
  <mat-icon>logout</mat-icon>Se déconnecter
</button>
    <img [src]="profileImageUrl" alt="Image de profil">
  </div>
</nav>
