mat-form-field {
    flex:1;
  }
  .container {
    max-width: 30%; /* ajustez cette valeur selon vos besoins */
    margin: 0 auto; /* centre le contenu horizontalement */
  }
  .text-center{
    color:#ad249b;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.text-center2{
    color:#a784a2;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    margin-top: 15px;
}
  .img{
    width: 22%;
    margin-left: 220px;
    margin-top: 20px;
  }
  .form{
    width: 30%;
    margin-left: 200px;
    margin-top: 30px;
  }
  .btn{
    margin-top: 15px;
    margin-left: 115px;
    width: 50%; 
    font-size: 16px;
    height: 45px;
  }