<header>
    <app-navbar></app-navbar>
  </header>
  <br>
  <div class="container">
    <hr class="hr">
    <h2 class="text-center"><mat-icon style ="vertical-align: -5px;">playlist_play</mat-icon>Liste des séances</h2>
    <hr class="hr">
  </div>
  <br>
 
  <div class="scrollable-container">
    <br>
    
    <br> <br> 
    <div class="scrollable-content">
      <div *ngFor="let seance of seances">
        <div class="card">
          <div class="card-body">
            <img src="../../../../assets/43289.png">
            <br>
            <h5 class="card-title">{{seance.titre}}</h5>
            <p class="card-text"><b>Remarques :</b> {{seance.notes}}</p>
            <p class="card-text"><b>Date de début :</b> {{seance.date_debut | date:'dd/MM/yyyy HH:mm'}}</p>
            <p class="card-text"><b>Date de fin :</b> {{seance.date_fin | date:'dd/MM/yyyy HH:mm'}}</p>
            <p class="card-text"><b>Titre de la formation :</b> {{seance.formation.titre}}</p>
            <p class="card-text">
              <b>État : </b> 
              <span style="color: red; font-weight: bold;" *ngIf="seance.date_debut < currentDate && seance.date_fin < currentDate">Terminée</span>
              <span style="color: green; font-weight: bold;" *ngIf="seance.date_debut <= currentDate && seance.date_fin >= currentDate">En cours</span>
              <span style="color: orange; font-weight: bold;" *ngIf="seance.date_debut > currentDate">À venir</span>
            </p>
          </div>
          <div class="card-footer">
            <button mat-raised-button  (click)="getSeancebyId(seance.id)" style=" margin-right:3px; background-color: rgb(212, 204, 204);">
              <mat-icon>edit</mat-icon>Rédiger une/des remarque(s)
            </button>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <br/>
   <br/>
  <form #seanceToUpdateForm="ngForm" *ngIf="isShown" >
                <div style="display: flex;">
                     <mat-form-field appearance="outline"  style="flex: 1" style="margin-left:13%;  width: 72%;" >
                <mat-label class="form-label">Remarques de la séance </mat-label>
                <textarea matInput style="margin-top: 3px;" [(ngModel)]="SeanceToUpdate.notes" name="remarques" #remarquesInput="ngModel" required></textarea>
                <mat-icon [ngClass]="{'icon-done': remarquesInput.valid, 'icon-clear': !remarquesInput.valid}" style="position: absolute; right: 0px; top: 55%; transform: translateY(-50%);">{{ remarquesInput.valid ? 'done' : 'clear' }}</mat-icon>
                <mat-error *ngIf="!SeanceToUpdate.notes">Ce champ est obligatoire !</mat-error>
                </mat-form-field>
            </div>
                      <br/>
                      <br/>
                      <br/>
                      <button mat-raised-button class="btn-group" style="margin-right:100px; background-color: rgb(212, 204, 204);"  (click)="annuler()"><mat-icon>close</mat-icon>Annuler</button>
          <button mat-raised-button class="btn-group" type="submit" (click)="onSubmit(SeanceToUpdate,SeanceToUpdate.id)" style="background-color: #b689d6;" [disabled]="!seanceToUpdateForm.form.valid"><mat-icon>save</mat-icon>Enregistrer</button>
          <br/><br/><br/><br/><br/><br/>
  </form>

  
  